<h3>Form Input Consumer using Reactive Forms</h3>
<form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>
  <app-input
    [target]="targets[0]"
    formControlName="checkbox"
    [labelText]="'Check box'"
  ></app-input>

  <app-input
    [target]="targets[1]"
    [labelText]="'Number input'"
    [required]="true"
    [requiredText]="'this element is required'"
    formControlName="number"
  ></app-input>

  <app-input
    [target]="targets[2]"
    [labelText]="'Text input'"
    [required]="true"
    [requiredText]="'this element is required'"
    formControlName="text"
  ></app-input>

  <app-input
    [target]="targets[3]"
    [labelText]="'Date input'"
    [required]="true"
    [requiredText]="'this element is required'"
    formControlName="date"
  ></app-input>
  <button hc-button title="Primary Button" buttonStyle="primary" type="submit">
    Submit
  </button>
</form>
